<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/custom.css">

    <style>
        .table-wrapper {
            /* magin-top: 50px; */
        }

        .player-img {
            width: 40px;
            height: 40px;
        }

        .add-player-form {
            margin-top: 50px;
        }
    </style>

</head>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1"><a href="/">Socka Players</a></span>
            <a href="/add" class="float-right" title="Add a new Player">Add a player</a>
        </nav>

        <div class="container">
            <%if (message != '') {%>
            <p class="text-center text-danger"><% message %></p>
            <% } %>

            <form action="" class="add-player-form" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="first_name" id="first-name"
                            placeholder="First Name" required>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name"
                            required>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="User Name" required>
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" name="number" placeholder="Number" required>
                    </div>
                    <div class="form-group col-md-6">
                        <select name="position" id="position" class="form-control" required>
                            <option selected disabled>Choose position</option>
                            <option>Goalkeeper</option>
                            <option>Defender</option>
                            <option>Midfielder</option>
                            <option>Forward</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="player-img">Player Image</label>
                        <br>
                        <input type="file" name="image" id="player-img" required>
                     
                    </div>
                   
                </div>
                    <button type="submit" class="btn btn-primary float-right">Add player</button>
            </form>

        </div>










    </div>

</body>

</html>